body {
  background-color: black;

}

.board {
  padding-top: 5%;
  background-color: black;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  font-size: 15px;
}

/*#title {
 font-size: 100px;
 position: fixed;
 left: 800px;
 right: 800px;
}*7
7/*#title
{
  font-size: 100px;
  position: fixed;
  left: 800px;
  right: 800px;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}*/


/*#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}*/

/*#title:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}*/



.cellN{
  width: 40px;
  height: 40px;
  background-color: 	#778899;
  display: inline-block;
  border-style: ridge;
  vertical-align: top;
}

.cellG {
  width: 40px;
  height: 40px;
  background-color: darkgreen;
  display: inline-block;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: top;
  line-height: 40px;
  vertical-align: top;

}

.cellB {
  width: 40px;
  height: 40px;
  background-color: #1E90FF;
  display: inline-block;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
}

.cellY {
  width: 40px;
  height: 40px;
  background-color: #FF8C00;
  display: inline-block;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
}

.cellR {
  width: 40px;
  height: 40px;
  background-color: red;
  display: inline-block;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
  text-shadow:
}

.cellS {
  width: 40px;
  height: 40px;
  background-color: pink;
  display: inline-block;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
}

.scoreboard {
  font-size: 22px;
  color: white;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  bottom: 40%;
  left: 80%;
}

.tile {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
}

.blank {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  vertical-align: top;
}

button {
  min-width: 122px;
  height: 50px;
  border-radius: 10px;
  font-size: 10px;
  background-color: white;
  bottom: 60%;
  left: 10%;
  border-radius: 10px;

}

.player1 {
  position: absolute;
  background-color: black;
  height: 400px;
  width: 250px;
  top: 10%;
  bottom: 50%;
  left: 8%;
  border-radius: 10px;

}

/*.player2 {
  position: fixed;
  background-color: white;
  top: 10%;
  height: 805px;
  width: 500px;
  border-radius: 10px;
  bottom: 50%;
  left: 75%;
}*/

.player2 {
  position: absolute;
  background-color: black;
  top: 10%;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  bottom: 50%;
  left: 75%;
}


img {
 border-radius: 10px;
 width: 250px;
 height: 250px;
}

#scoreplayer1container{
  background-color: #24fe9f;
  height: 50px;
  border-radius: 10px;
  font-size: 40px;
}

#scoreplayer2container{
  background-color: red;
  height: 50px;
  border-radius: 10px;
  font-size: 40px;
}
/*#hidetiles {
  bottom: 80%;
  left: 10%;
}

#cplayer1{
  bottom: 70%;
  left: 10%;
}



#cplayer2{
  bottom: 70%;
  left: 80%;
}


#hidetilesplayer2{
  bottom: 80%;
  left: 80%;
}

#lettersPlayer2 {
  bottom: 60%;
  left: 80%;
}*/

.tileholder {
  margin: 0 auto;
  padding-left: 40%;


}

.tileholderPlayerTwo {
  margin: 0 auto;
  padding-left: 40%;

}
